<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="/index">The Data Map : 나를 도와줘</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link btn btn-dark" href="/index"><i class="fas fa-globe"></i> 전체 보기</a>
      <a class="nav-item nav-link btn btn-dark" href="/cctv"><i class="fas fa-camera"></i> CCTV</a>
      <a class="nav-item nav-link btn btn-dark" href="/wifi"><i class="fas fa-wifi"></i> 무료 Wi-Fi</a>
      <a class="nav-item nav-link btn btn-dark" href="/toilet"><i class="fas fa-restroom"></i> 공중화장실</a>
    </div>
  </div>
  </nav>