<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=56b79289c563e2d7c13fd83796d4e823"></script>
    <title>Document</title>
  </head>
  <body style="width: 100%; height: 100%">
    <div id="map" style="width: <%= mapW %>px; height: <%= mapH %>px;"></div>
    <script>
      const data = [
      {
        "설치장소명": "시설관리사업소",
        "설치장소상세": "3층 사무실 내",
        "설치시도명": "경상북도",
        "설치시군구명": "칠곡군",
        "설치시설구분": "관공서",
        "서비스제공사명": "현대HCN 새로넷방송",
        "와이파이SSID": "HCN",
        "소재지도로명주소": "경상북도 칠곡군 석적읍 강변대로 1580",
        "소재지지번주소": "경상북도 칠곡군 석적읍 중지리 산38",
        "관리기관명": "경상북도 시설관리사업소",
        "관리기관전화번호": "054-979-5523",
        "위도": "36.0177662",
        "경도": "128.404344304",
        "데이터기준일자": "2019-06-14"
      },
      {
        "설치장소명": "시설관리사업소",
        "설치장소상세": "기념관 카페테리아 4층",
        "설치시도명": "경상북도",
        "설치시군구명": "칠곡군",
        "설치시설구분": "관공서",
        "서비스제공사명": "현대HCN 새로넷방송",
        "와이파이SSID": "HCN",
        "소재지도로명주소": "경상북도 칠곡군 석적읍 강변대로 1580",
        "소재지지번주소": "경상북도 칠곡군 석적읍 중지리 산37",
        "관리기관명": "경상북도 시설관리사업소",
        "관리기관전화번호": "054-979-5523",
        "위도": "36.0177662",
        "경도": "128.404344304",
        "데이터기준일자": "2019-06-14"
      },
      {
        "설치장소명": "시설관리사업소",
        "설치장소상세": "기념관 식당 3층",
        "설치시도명": "경상북도",
        "설치시군구명": "칠곡군",
        "설치시설구분": "관공서",
        "서비스제공사명": "현대HCN 새로넷방송",
        "와이파이SSID": "HCN",
        "소재지도로명주소": "경상북도 칠곡군 석적읍 강변대로 1580",
        "소재지지번주소": "경상북도 칠곡군 석적읍 중지리 산36",
        "관리기관명": "경상북도 시설관리사업소",
        "관리기관전화번호": "054-979-5523",
        "위도": "36.0177662",
        "경도": "128.404344304",
        "데이터기준일자": "2019-06-14"
      },
      {
        "설치장소명": "시설관리사업소",
        "설치장소상세": "기념관 내 1층",
        "설치시도명": "경상북도",
        "설치시군구명": "칠곡군",
        "설치시설구분": "관공서",
        "서비스제공사명": "현대HCN 새로넷방송",
        "와이파이SSID": "HCN",
        "소재지도로명주소": "경상북도 칠곡군 석적읍 강변대로 1580",
        "소재지지번주소": "경상북도 칠곡군 석적읍 중지리 산35",
        "관리기관명": "경상북도 시설관리사업소",
        "관리기관전화번호": "054-979-5523",
        "위도": "36.0177662",
        "경도": "128.404344304",
        "데이터기준일자": "2019-06-14"
      },
      {
        "설치장소명": "시설관리사업소",
        "설치장소상세": "기념관 내 1층",
        "설치시도명": "경상북도",
        "설치시군구명": "칠곡군",
        "설치시설구분": "관공서",
        "서비스제공사명": "현대HCN 새로넷방송",
        "와이파이SSID": "HCN",
        "소재지도로명주소": "경상북도 칠곡군 석적읍 강변대로 1580",
        "소재지지번주소": "경상북도 칠곡군 석적읍 중지리 산34",
        "관리기관명": "경상북도 시설관리사업소",
        "관리기관전화번호": "054-979-5523",
        "위도": "36.0177662",
        "경도": "128.404344304",
        "데이터기준일자": "2019-06-14"
      },
      {
        "설치장소명": "시설관리사업소",
        "설치장소상세": "기념관 내 1층",
        "설치시도명": "경상북도",
        "설치시군구명": "칠곡군",
        "설치시설구분": "관공서",
        "서비스제공사명": "현대HCN 새로넷방송",
        "와이파이SSID": "HCN",
        "소재지도로명주소": "경상북도 칠곡군 석적읍 강변대로 1580",
        "소재지지번주소": "경상북도 칠곡군 석적읍 중지리 산33",
        "관리기관명": "경상북도 시설관리사업소",
        "관리기관전화번호": "054-979-5523",
        "위도": "36.0177662",
        "경도": "128.404344304",
        "데이터기준일자": "2019-06-14"
      },
      {
        "설치장소명": "칠곡오토캠핑장",
        "설치장소상세": "캠핑장 내 가로등",
        "설치시도명": "경상북도",
        "설치시군구명": "칠곡군",
        "설치시설구분": "기타",
        "서비스제공사명": "현대HCN 새로넷방송",
        "와이파이SSID": "HCN",
        "소재지지번주소": "경상북도 칠곡군 약목면 관호리 8",
        "관리기관명": "경상북도 시설관리사업소",
        "관리기관전화번호": "054-979-5523",
        "위도": "36.0224659",
        "경도": "128.3866838",
        "데이터기준일자": "2019-06-14"
      },
      {
        "설치장소명": "칠곡오토캠핑장",
        "설치장소상세": "캠핑장 내 가로등",
        "설치시도명": "경상북도",
        "설치시군구명": "칠곡군",
        "설치시설구분": "기타",
        "서비스제공사명": "현대HCN 새로넷방송",
        "와이파이SSID": "HCN",
        "소재지지번주소": "경상북도 칠곡군 약목면 관호리 8",
        "관리기관명": "경상북도 시설관리사업소",
        "관리기관전화번호": "054-979-5523",
        "위도": "36.0224659",
        "경도": "128.3866838",
        "데이터기준일자": "2019-06-14"
      },
      {
        "설치장소명": "칠곡오토캠핑장",
        "설치장소상세": "캠핑장 내 가로등",
        "설치시도명": "경상북도",
        "설치시군구명": "칠곡군",
        "설치시설구분": "기타",
        "서비스제공사명": "현대HCN 새로넷방송",
        "와이파이SSID": "HCN",
        "소재지지번주소": "경상북도 칠곡군 약목면 관호리 8",
        "관리기관명": "경상북도 시설관리사업소",
        "관리기관전화번호": "054-979-5523",
        "위도": "36.0224659",
        "경도": "128.3866838",
        "데이터기준일자": "2019-06-14"
      },
      {
        "설치장소명": "위즈지역아동센터",
        "설치장소상세": "1층 놀이방 천정",
        "설치시도명": "경상북도",
        "설치시군구명": "칠곡군",
        "설치시설구분": "서민·복지시설",
        "서비스제공사명": "SKT",
        "와이파이SSID": "PUBLIC WiFi FREE",
        "소재지도로명주소": "경상북도 칠곡군 북삼읍 금오대로10길 23",
        "소재지지번주소": "경상북도 칠곡군 북삼읍 인평리 1031-13",
        "관리기관명": "경상북도 칠곡군청",
        "관리기관전화번호": "054-979-6374",
        "위도": "36.0691872",
        "경도": "128.350678578",
        "데이터기준일자": "2019-06-14"
      },
      {
        "설치장소명": "엘리트지역아동센터",
        "설치장소상세": "3층 창문 위 벽면",
        "설치시도명": "경상북도",
        "설치시군구명": "칠곡군",
        "설치시설구분": "서민·복지시설",
        "서비스제공사명": "SKT",
        "와이파이SSID": "PUBLIC WiFi FREE",
        "소재지도로명주소": "경상북도 칠곡군  평장4길 22",
        "소재지지번주소": "경상북도 칠곡군 왜관읍 왜관리 373-6",
        "관리기관명": "경상북도 칠곡군청",
        "관리기관전화번호": "054-979-6374",
        "위도": "35.9867179",
        "경도": "128.407985038",
        "데이터기준일자": "2019-06-14"
      },
      {
        "설치장소명": "엘리트지역아동센터",
        "설치장소상세": "2층 중앙 벽면",
        "설치시도명": "경상북도",
        "설치시군구명": "칠곡군",
        "설치시설구분": "서민·복지시설",
        "서비스제공사명": "SKT",
        "와이파이SSID": "PUBLIC WiFi FREE",
        "소재지도로명주소": "경상북도 칠곡군  평장4길 22",
        "소재지지번주소": "경상북도 칠곡군 왜관읍 왜관리 373-6",
        "관리기관명": "경상북도 칠곡군청",
        "관리기관전화번호": "054-979-6374",
        "위도": "35.9867179",
        "경도": "128.407985038",
        "데이터기준일자": "2019-06-14"
      },
      {
        "설치장소명": "엘리트지역아동센터",
        "설치장소상세": "1층 사무실 우측 벽면",
        "설치시도명": "경상북도",
        "설치시군구명": "칠곡군",
        "설치시설구분": "서민·복지시설",
        "서비스제공사명": "SKT",
        "와이파이SSID": "PUBLIC WiFi FREE",
        "소재지도로명주소": "경상북도 칠곡군  평장4길 22",
        "소재지지번주소": "경상북도 칠곡군 왜관읍 왜관리 373-6",
        "관리기관명": "경상북도 칠곡군청",
        "관리기관전화번호": "054-979-6374",
        "위도": "35.9867179",
        "경도": "128.407985038",
        "데이터기준일자": "2019-06-14"
      },
      {
        "설치장소명": "북삼지역아동센터",
        "설치장소상세": "1층 중앙홀 천정",
        "설치시도명": "경상북도",
        "설치시군구명": "칠곡군",
        "설치시설구분": "서민·복지시설",
        "서비스제공사명": "SKT",
        "와이파이SSID": "PUBLIC WiFi FREE",
        "소재지도로명주소": "경상북도 칠곡군 북삼읍 인강2길 27-12",
        "소재지지번주소": "경상북도 칠곡군 북삼읍 인평리 282",
        "관리기관명": "경상북도 칠곡군청",
        "관리기관전화번호": "054-979-6374",
        "위도": "36.0676996745",
        "경도": "128.341795899",
        "데이터기준일자": "2019-06-14"
      },
      {
        "설치장소명": "베다니지역아동센터",
        "설치장소상세": "2층 도서관 천정",
        "설치시도명": "경상북도",
        "설치시군구명": "칠곡군",
        "설치시설구분": "서민·복지시설",
        "서비스제공사명": "SKT",
        "와이파이SSID": "PUBLIC WiFi FREE",
        "소재지도로명주소": "경상북도 칠곡군 왜관읍 중앙로 123-26",
        "소재지지번주소": "경상북도 칠곡군 왜관읍 왜관리 776-100",
        "관리기관명": "경상북도 칠곡군청",
        "관리기관전화번호": "054-979-6374",
        "위도": "35.9862633",
        "경도": "128.397625078",
        "데이터기준일자": "2019-06-14"
      },
      {
        "설치장소명": "베다니지역아동센터",
        "설치장소상세": "2층 상담실 천정",
        "설치시도명": "경상북도",
        "설치시군구명": "칠곡군",
        "설치시설구분": "서민·복지시설",
        "서비스제공사명": "SKT",
        "와이파이SSID": "PUBLIC WiFi FREE",
        "소재지도로명주소": "경상북도 칠곡군 왜관읍 중앙로 123-26",
        "소재지지번주소": "경상북도 칠곡군 왜관읍 왜관리 776-100",
        "관리기관명": "경상북도 칠곡군청",
        "관리기관전화번호": "054-979-6374",
        "위도": "35.9862633",
        "경도": "128.397625078",
        "데이터기준일자": "2019-06-14"
      },
      {
        "설치장소명": "그루터기지역아동센터",
        "설치장소상세": "1층 상담실 벽면",
        "설치시도명": "경상북도",
        "설치시군구명": "칠곡군",
        "설치시설구분": "서민·복지시설",
        "서비스제공사명": "SKT",
        "와이파이SSID": "PUBLIC WiFi FREE",
        "소재지도로명주소": "경상북도 칠곡군 왜관읍 석전로 64",
        "소재지지번주소": "경상북도 칠곡군 왜관읍 석전리 583-4",
        "관리기관명": "경상북도 칠곡군청",
        "관리기관전화번호": "054-979-6374",
        "위도": "35.9992016",
        "경도": "128.404618657",
        "데이터기준일자": "2019-06-14"
      },
      {
        "설치장소명": "그루터기지역아동센터",
        "설치장소상세": "1층 교육실 벽면",
        "설치시도명": "경상북도",
        "설치시군구명": "칠곡군",
        "설치시설구분": "서민·복지시설",
        "서비스제공사명": "SKT",
        "와이파이SSID": "PUBLIC WiFi FREE",
        "소재지도로명주소": "경상북도 칠곡군 왜관읍 석전로 64",
        "소재지지번주소": "경상북도 칠곡군 왜관읍 석전리 583-4",
        "관리기관명": "경상북도 칠곡군청",
        "관리기관전화번호": "054-979-6374",
        "위도": "35.9992016",
        "경도": "128.404618657",
        "데이터기준일자": "2019-06-14"
      },
      {
        "설치장소명": "약목시장",
        "설치장소상세": "시장 뒤쪽 아케이드 위",
        "설치시도명": "경상북도",
        "설치시군구명": "칠곡군",
        "설치시설구분": "기타",
        "서비스제공사명": "LGU+",
        "와이파이SSID": "PUBLIC WiFi FREE",
        "소재지도로명주소": "경상북도 칠곡군 약목면 약목로1길 5-1",
        "소재지지번주소": "경상북도 칠곡군 약목면 복성리 949-10",
        "관리기관명": "경상북도 칠곡군청",
        "관리기관전화번호": "054-979-6374",
        "위도": "36.0323579815",
        "경도": "128.365932455",
        "데이터기준일자": "2019-06-14"
      },
      {
        "설치장소명": "약목시장",
        "설치장소상세": "시장 입구 아케이드 위",
        "설치시도명": "경상북도",
        "설치시군구명": "칠곡군",
        "설치시설구분": "기타",
        "서비스제공사명": "LGU+",
        "와이파이SSID": "PUBLIC WiFi FREE",
        "소재지도로명주소": "경상북도 칠곡군 약목면 약목로1길 5-1",
        "소재지지번주소": "경상북도 칠곡군 약목면 복성리 949-10",
        "관리기관명": "경상북도 칠곡군청",
        "관리기관전화번호": "054-979-6374",
        "위도": "36.0323579815",
        "경도": "128.365932455",
        "데이터기준일자": "2019-06-14"
      },
      {
        "설치장소명": "동명시장",
        "설치장소상세": "시장 안 닭집 앞 전주",
        "설치시도명": "경상북도",
        "설치시군구명": "칠곡군",
        "설치시설구분": "기타",
        "서비스제공사명": "LGU+",
        "와이파이SSID": "PUBLIC WiFi FREE",
        "소재지도로명주소": "경상북도 칠곡군 동명면 금암4길 8",
        "소재지지번주소": "경상북도 칠곡군 동명면 금암리 231-1",
        "관리기관명": "경상북도 칠곡군청",
        "관리기관전화번호": "054-979-6374",
        "위도": "35.9831903961",
        "경도": "128.554050254",
        "데이터기준일자": "2019-06-14"
      },
      {
        "설치장소명": "동명시장",
        "설치장소상세": "시장 주차장 아케이드 위",
        "설치시도명": "경상북도",
        "설치시군구명": "칠곡군",
        "설치시설구분": "기타",
        "서비스제공사명": "LGU+",
        "와이파이SSID": "PUBLIC WiFi FREE",
        "소재지도로명주소": "경상북도 칠곡군 동명면 금암4길 8",
        "소재지지번주소": "경상북도 칠곡군 동명면 금암리 231-1",
        "관리기관명": "경상북도 칠곡군청",
        "관리기관전화번호": "054-979-6374",
        "위도": "35.9831903961",
        "경도": "128.554050254",
        "데이터기준일자": "2019-06-14"
      },
      {
        "설치장소명": "왜관시장",
        "설치장소상세": "서울한복 건물 위",
        "설치시도명": "경상북도",
        "설치시군구명": "칠곡군",
        "설치시설구분": "기타",
        "서비스제공사명": "LGU+",
        "와이파이SSID": "PUBLIC WiFi FREE",
        "소재지도로명주소": "경상북도 칠곡군 왜관읍 시장1길 7",
        "소재지지번주소": "경상북도 칠곡군 왜관읍 왜관리 227-8",
        "관리기관명": "경상북도 칠곡군청",
        "관리기관전화번호": "054-979-6374",
        "위도": "35.9959597025",
        "경도": "128.398372968",
        "데이터기준일자": "2019-06-14"
      },
      {
        "설치장소명": "왜관시장",
        "설치장소상세": "시장중앙상가 아케이드 위(경북상회 위)",
        "설치시도명": "경상북도",
        "설치시군구명": "칠곡군",
        "설치시설구분": "기타",
        "서비스제공사명": "LGU+",
        "와이파이SSID": "PUBLIC WiFi FREE",
        "소재지도로명주소": "경상북도 칠곡군 왜관읍 시장1길 7",
        "소재지지번주소": "경상북도 칠곡군 왜관읍 왜관리 227-8",
        "관리기관명": "경상북도 칠곡군청",
        "관리기관전화번호": "054-979-6374",
        "위도": "35.9959597025",
        "경도": "128.398372968",
        "데이터기준일자": "2019-06-14"
      },
      {
        "설치장소명": "드림스타트",
        "설치장소상세": "사무실좌측 천정",
        "설치시도명": "경상북도",
        "설치시군구명": "칠곡군",
        "설치시설구분": "서민·복지시설",
        "서비스제공사명": "LGU+",
        "와이파이SSID": "PUBLIC WiFi FREE",
        "소재지도로명주소": "경상북도 칠곡군 왜관읍 중앙로 184",
        "소재지지번주소": "경상북도 칠곡군 왜관읍 왜관리 227-8",
        "관리기관명": "경상북도 칠곡군청",
        "관리기관전화번호": "054-979-6374",
        "위도": "35.9913313",
        "경도": "128.399510658",
        "데이터기준일자": "2019-06-14"
      },
      {
        "설치장소명": "기산면평생학습복지센터",
        "설치장소상세": "정보화교육장 안 좌측 천정",
        "설치시도명": "경상북도",
        "설치시군구명": "칠곡군",
        "설치시설구분": "서민·복지시설",
        "서비스제공사명": "LGU+",
        "와이파이SSID": "PUBLIC WiFi FREE",
        "소재지도로명주소": "경상북도 칠곡군 기산면 주산로 1220-1",
        "소재지지번주소": "경상북도 칠곡군 기산면 죽전리 317-2",
        "관리기관명": "경상북도 칠곡군청",
        "관리기관전화번호": "054-979-6374",
        "위도": "35.9864923",
        "경도": "128.384571193",
        "데이터기준일자": "2019-06-14"
      },
      {
        "설치장소명": "가산면평생학습복지센터",
        "설치장소상세": "1층 로비 천정",
        "설치시도명": "경상북도",
        "설치시군구명": "칠곡군",
        "설치시설구분": "서민·복지시설",
        "서비스제공사명": "LGU+",
        "와이파이SSID": "PUBLIC WiFi FREE",
        "소재지도로명주소": "경상북도 칠곡군 가산면  경북대로 1552",
        "소재지지번주소": "경상북도 칠곡군 가산면 천평리 127",
        "관리기관명": "경상북도 칠곡군청",
        "관리기관전화번호": "054-979-6374",
        "위도": "36.0844038059",
        "경도": "128.539050483",
        "데이터기준일자": "2019-06-14"
      },
      {
        "설치장소명": "동명면평생학습복지센터",
        "설치장소상세": "1층 관리사무실 천정",
        "설치시도명": "경상북도",
        "설치시군구명": "칠곡군",
        "설치시설구분": "서민·복지시설",
        "서비스제공사명": "LGU+",
        "와이파이SSID": "PUBLIC WiFi FREE",
        "소재지도로명주소": "경상북도 칠곡군 동명면 팔거천2길 9",
        "소재지지번주소": "경상북도 칠곡군 동명면 금암리 285",
        "관리기관명": "경상북도 칠곡군청",
        "관리기관전화번호": "054-979-6374",
        "위도": "35.9848964217",
        "경도": "128.552296401",
        "데이터기준일자": "2019-06-14"
      },
      {
        "설치장소명": "노인복지관",
        "설치장소상세": "1층 로비 우측 천정",
        "설치시도명": "경상북도",
        "설치시군구명": "칠곡군",
        "설치시설구분": "서민·복지시설",
        "서비스제공사명": "LGU+",
        "와이파이SSID": "PUBLIC WiFi FREE",
        "소재지도로명주소": "경상북도 칠곡군 왜관읍 2번도로길 21",
        "소재지지번주소": "경상북도 칠곡군 왜관읍 왜관리 273-1",
        "관리기관명": "경상북도 칠곡군청",
        "관리기관전화번호": "054-979-6374",
        "위도": "35.9895648369",
        "경도": "128.397470586",
        "데이터기준일자": "2019-06-14"
      },
      {
        "설치장소명": "장애인복지관",
        "설치장소상세": "1층 로비 좌측 천정",
        "설치시도명": "경상북도",
        "설치시군구명": "칠곡군",
        "설치시설구분": "서민·복지시설",
        "서비스제공사명": "LGU+",
        "와이파이SSID": "PUBLIC WiFi FREE",
        "소재지도로명주소": "경상북도 칠곡군 왜관읍 석전리 관문로1길 28",
        "소재지지번주소": "경상북도 칠곡군 왜관읍 석전리 262-4",
        "관리기관명": "경상북도 칠곡군청",
        "관리기관전화번호": "054-979-6374",
        "위도": "35.9906591",
        "경도": "128.417723923",
        "데이터기준일자": "2019-06-14"
      },
      {
        "설치장소명": "평생학습관",
        "설치장소상세": "1층 로비(중앙 홀)",
        "설치시도명": "경상북도",
        "설치시군구명": "칠곡군",
        "설치시설구분": "기타",
        "서비스제공사명": "LGU+",
        "와이파이SSID": "PUBLIC WiFi FREE",
        "소재지도로명주소": "경상북도 칠곡군 왜관읍 관문로 1길 32",
        "소재지지번주소": "경상북도 칠곡군 왜관읍 석전리 254",
        "관리기관명": "경상북도 칠곡군청",
        "관리기관전화번호": "054-979-6374",
        "위도": "35.9919995726",
        "경도": "128.417300347",
        "데이터기준일자": "2019-06-14"
      },
      {
        "설치장소명": "교육문화회관",
        "설치장소상세": "2층 강당 입구 천정",
        "설치시도명": "경상북도",
        "설치시군구명": "칠곡군",
        "설치시설구분": "기타",
        "서비스제공사명": "LGU+",
        "와이파이SSID": "PUBLIC WiFi FREE",
        "소재지도로명주소": "경상북도 칠곡군 왜관읍 관문로 1길 32",
        "소재지지번주소": "경상북도 칠곡군 왜관읍 석전리 254",
        "관리기관명": "경상북도 칠곡군청",
        "관리기관전화번호": "054-979-6374",
        "위도": "35.9919995726",
        "경도": "128.417300347",
        "데이터기준일자": "2019-06-14"
      },
      {
        "설치장소명": "교육문화회관",
        "설치장소상세": "1층 사무실 입구 천정",
        "설치시도명": "경상북도",
        "설치시군구명": "칠곡군",
        "설치시설구분": "기타",
        "서비스제공사명": "LGU+",
        "와이파이SSID": "PUBLIC WiFi FREE",
        "소재지도로명주소": "경상북도 칠곡군 왜관읍 관문로 1길 32",
        "소재지지번주소": "경상북도 칠곡군 왜관읍 석전리 254",
        "관리기관명": "경상북도 칠곡군청",
        "관리기관전화번호": "054-979-6374",
        "위도": "35.9919995726",
        "경도": "128.417300347",
        "데이터기준일자": "2019-06-14"
      },
      {
        "설치장소명": "기산면사무소",
        "설치장소상세": "민원인용 컴퓨터 위 천정",
        "설치시도명": "경상북도",
        "설치시군구명": "칠곡군",
        "설치시설구분": "관공서",
        "서비스제공사명": "LGU+",
        "와이파이SSID": "PUBLIC WiFi FREE",
        "소재지도로명주소": "경상북도 칠곡군 기산면 주산로 1213",
        "소재지지번주소": "경상북도 칠곡군 기산면 죽전리 294-13",
        "관리기관명": "경상북도 칠곡군청",
        "관리기관전화번호": "054-979-6374",
        "위도": "35.986624021",
        "경도": "128.382179301",
        "데이터기준일자": "2019-06-14"
      },
      {
        "설치장소명": "약목면사무소",
        "설치장소상세": "사무실 입구 천정",
        "설치시도명": "경상북도",
        "설치시군구명": "칠곡군",
        "설치시설구분": "관공서",
        "서비스제공사명": "LGU+",
        "와이파이SSID": "PUBLIC WiFi FREE",
        "소재지도로명주소": "경상북도 칠곡군 약목면 복성1길 15",
        "소재지지번주소": "경상북도 칠곡군 복성리 1004",
        "관리기관명": "경상북도 칠곡군청",
        "관리기관전화번호": "054-979-6374",
        "위도": "36.0327609378",
        "경도": "128.363782632",
        "데이터기준일자": "2019-06-14"
      },
      {
        "설치장소명": "약목면사무소",
        "설치장소상세": "회의실 우측 모서리",
        "설치시도명": "경상북도",
        "설치시군구명": "칠곡군",
        "설치시설구분": "관공서",
        "서비스제공사명": "LGU+",
        "와이파이SSID": "PUBLIC WiFi FREE",
        "소재지도로명주소": "경상북도 칠곡군 약목면 복성1길 15",
        "소재지지번주소": "경상북도 칠곡군 복성리 1004",
        "관리기관명": "경상북도 칠곡군청",
        "관리기관전화번호": "054-979-6374",
        "위도": "36.0327609378",
        "경도": "128.363782632",
        "데이터기준일자": "2019-06-14"
      },
      {
        "설치장소명": "약목면사무소",
        "설치장소상세": "사무실 우측 천정",
        "설치시도명": "경상북도",
        "설치시군구명": "칠곡군",
        "설치시설구분": "관공서",
        "서비스제공사명": "LGU+",
        "와이파이SSID": "PUBLIC WiFi FREE",
        "소재지도로명주소": "경상북도 칠곡군 약목면 복성1길 15",
        "소재지지번주소": "경상북도 칠곡군 복성리 1004",
        "관리기관명": "경상북도 칠곡군청",
        "관리기관전화번호": "054-979-6374",
        "위도": "36.0327609378",
        "경도": "128.363782632",
        "데이터기준일자": "2019-06-14"
      },
      {
        "설치장소명": "가산면사무소",
        "설치장소상세": "민원실 지하층 내려가는  천정",
        "설치시도명": "경상북도",
        "설치시군구명": "칠곡군",
        "설치시설구분": "관공서",
        "서비스제공사명": "LGU+",
        "와이파이SSID": "PUBLIC WiFi FREE",
        "소재지도로명주소": "경상북도 칠곡군 가산면 경북대로 1570",
        "소재지지번주소": "경상북도 칠곡군 가산면 천평리 139-2",
        "관리기관명": "경상북도 칠곡군청",
        "관리기관전화번호": "054-979-6374",
        "위도": "36.0859724",
        "경도": "128.538903531",
        "데이터기준일자": "2019-06-14"
      },
      {
        "설치장소명": "동명면사무소",
        "설치장소상세": "3층 도서실 출입문 좌측 천정",
        "설치시도명": "경상북도",
        "설치시군구명": "칠곡군",
        "설치시설구분": "관공서",
        "서비스제공사명": "LGU+",
        "와이파이SSID": "PUBLIC WiFi FREE",
        "소재지도로명주소": "경상북도 칠곡군 동명면 금암중앙길 56",
        "소재지지번주소": "경상북도 칠곡군 동명면 금암리 231-6",
        "관리기관명": "경상북도 칠곡군청",
        "관리기관전화번호": "054-979-6374",
        "위도": "35.9838913",
        "경도": "128.553947696",
        "데이터기준일자": "2019-06-14"
      },
      {
        "설치장소명": "동명면사무소",
        "설치장소상세": "2층 강당 좌측 모서리",
        "설치시도명": "경상북도",
        "설치시군구명": "칠곡군",
        "설치시설구분": "관공서",
        "서비스제공사명": "LGU+",
        "와이파이SSID": "PUBLIC WiFi FREE",
        "소재지도로명주소": "경상북도 칠곡군 동명면 금암중앙길 56",
        "소재지지번주소": "경상북도 칠곡군 동명면 금암리 231-6",
        "관리기관명": "경상북도 칠곡군청",
        "관리기관전화번호": "054-979-6374",
        "위도": "35.9838913",
        "경도": "128.553947696",
        "데이터기준일자": "2019-06-14"
      },
      {
        "설치장소명": "동명면사무소",
        "설치장소상세": "1층 사무실 우측 천정",
        "설치시도명": "경상북도",
        "설치시군구명": "칠곡군",
        "설치시설구분": "관공서",
        "서비스제공사명": "LGU+",
        "와이파이SSID": "PUBLIC WiFi FREE",
        "소재지도로명주소": "경상북도 칠곡군 동명면 금암중앙길 56",
        "소재지지번주소": "경상북도 칠곡군 동명면 금암리 231-6",
        "관리기관명": "경상북도 칠곡군청",
        "관리기관전화번호": "054-979-6374",
        "위도": "35.9838913",
        "경도": "128.553947696",
        "데이터기준일자": "2019-06-14"
      },
      {
        "설치장소명": "지천면사무소",
        "설치장소상세": "민원실 우측 천정",
        "설치시도명": "경상북도",
        "설치시군구명": "칠곡군",
        "설치시설구분": "관공서",
        "서비스제공사명": "LGU+",
        "와이파이SSID": "PUBLIC WiFi FREE",
        "소재지도로명주소": "경상북도 칠곡군 지천면 신동로 171",
        "소재지지번주소": "경상북도 칠곡군 지천면 신리 357-1",
        "관리기관명": "경상북도 칠곡군청",
        "관리기관전화번호": "054-979-6374",
        "위도": "35.9559550214",
        "경도": "128.490943154",
        "데이터기준일자": "2019-06-14"
      },
      {
        "설치장소명": "석적읍사무소",
        "설치장소상세": "사무실 좌측 입구 천정",
        "설치시도명": "경상북도",
        "설치시군구명": "칠곡군",
        "설치시설구분": "관공서",
        "서비스제공사명": "LGU+",
        "와이파이SSID": "PUBLIC WiFi FREE",
        "소재지도로명주소": "경상북도 칠곡군 석적읍 남율로7길 7",
        "소재지지번주소": "경상북도 칠곡군 석적읍 남율리 548",
        "관리기관명": "경상북도 칠곡군청",
        "관리기관전화번호": "054-979-6374",
        "위도": "36.0667917983",
        "경도": "128.400975387",
        "데이터기준일자": "2019-06-14"
      },
      {
        "설치장소명": "사회교육관",
        "설치장소상세": "1층 로비(지하내려가는 쪽)",
        "설치시도명": "경상북도",
        "설치시군구명": "칠곡군",
        "설치시설구분": "기타",
        "서비스제공사명": "LGU+",
        "와이파이SSID": "PUBLIC WiFi FREE",
        "소재지도로명주소": "경상북도 칠곡군 왜관읍 관문로 1길 32",
        "소재지지번주소": "경상북도 칠곡군 왜관읍 석전리 254",
        "관리기관명": "경상북도 칠곡군청",
        "관리기관전화번호": "054-979-6374",
        "위도": "35.9919995726",
        "경도": "128.417300347",
        "데이터기준일자": "2019-06-14"
      },
      {
        "설치장소명": "석적읍사무소",
        "설치장소상세": "민원담당 천정",
        "설치시도명": "경상북도",
        "설치시군구명": "칠곡군",
        "설치시설구분": "관공서",
        "서비스제공사명": "LGU+",
        "와이파이SSID": "PUBLIC WiFi FREE",
        "소재지도로명주소": "경상북도 칠곡군 석적읍 남율로7길 7",
        "소재지지번주소": "경상북도 칠곡군 석적읍 남율리 548",
        "관리기관명": "경상북도 칠곡군청",
        "관리기관전화번호": "054-979-6374",
        "위도": "36.0667917983",
        "경도": "128.400975387",
        "데이터기준일자": "2019-06-14"
      },
      {
        "설치장소명": "석적읍사무소",
        "설치장소상세": "총무담당 우측 천정",
        "설치시도명": "경상북도",
        "설치시군구명": "칠곡군",
        "설치시설구분": "관공서",
        "서비스제공사명": "LGU+",
        "와이파이SSID": "PUBLIC WiFi FREE",
        "소재지도로명주소": "경상북도 칠곡군 석적읍 남율로7길 7",
        "소재지지번주소": "경상북도 칠곡군 석적읍 남율리 548",
        "관리기관명": "경상북도 칠곡군청",
        "관리기관전화번호": "054-979-6374",
        "위도": "36.0667917983",
        "경도": "128.400975387",
        "데이터기준일자": "2019-06-14"
      },
      {
        "설치장소명": "북삼읍사무소",
        "설치장소상세": "1층 상담실 위 천정",
        "설치시도명": "경상북도",
        "설치시군구명": "칠곡군",
        "설치시설구분": "관공서",
        "서비스제공사명": "LGU+",
        "와이파이SSID": "PUBLIC WiFi FREE",
        "소재지도로명주소": "경상북도 칠곡군 북삼읍 인평1길 6",
        "소재지지번주소": "경상북도 칠곡군 북삼읍 인평리 365-1",
        "관리기관명": "경상북도 칠곡군청",
        "관리기관전화번호": "054-979-6374",
        "위도": "36.062921244",
        "경도": "128.342971132",
        "데이터기준일자": "2019-06-14"
      },
      {
        "설치장소명": "왜관읍사무소",
        "설치장소상세": "1층 정보이용시설 좌측 천정",
        "설치시도명": "경상북도",
        "설치시군구명": "칠곡군",
        "설치시설구분": "관공서",
        "서비스제공사명": "LGU+",
        "와이파이SSID": "PUBLIC WiFi FREE",
        "소재지도로명주소": "경상북도 칠곡군 왜관읍 2번도로길 16",
        "소재지지번주소": "경상북도 칠곡군 왜관읍 왜관리 281-9",
        "관리기관명": "경상북도 칠곡군청",
        "관리기관전화번호": "054-979-6374",
        "위도": "35.9889598912",
        "경도": "128.397726036",
        "데이터기준일자": "2019-06-14"
      },
      {
        "설치장소명": "칠곡군청",
        "설치장소상세": "1층 갤러리존 컴퓨터 책상 위",
        "설치시도명": "경상북도",
        "설치시군구명": "칠곡군",
        "설치시설구분": "관공서",
        "서비스제공사명": "LGU+",
        "와이파이SSID": "PUBLIC WiFi FREE",
        "소재지도로명주소": "경상북도 칠곡군 왜관읍 군청1길 81",
        "소재지지번주소": "경상북도 칠곡군 왜관읍 왜관리 177-2",
        "관리기관명": "경상북도 칠곡군청",
        "관리기관전화번호": "054-979-6374",
        "위도": "35.9948265431",
        "경도": "128.400956702",
        "데이터기준일자": "2019-06-14"
      },
      {
        "설치장소명": "칠곡군청",
        "설치장소상세": "1층 민원실 1번 창구 위",
        "설치시도명": "경상북도",
        "설치시군구명": "칠곡군",
        "설치시설구분": "관공서",
        "서비스제공사명": "LGU+",
        "와이파이SSID": "PUBLIC WiFi FREE",
        "소재지도로명주소": "경상북도 칠곡군 왜관읍 군청1길 80",
        "소재지지번주소": "경상북도 칠곡군 왜관읍 왜관리 177-1",
        "관리기관명": "경상북도 칠곡군청",
        "관리기관전화번호": "054-979-6374",
        "위도": "35.9954818292",
        "경도": "128.401638085",
        "데이터기준일자": "2019-06-14"
      },
      {
        "설치장소명": "지천보건지소",
        "설치장소상세": "1층 예방접종실 입구",
        "설치시도명": "경상북도",
        "설치시군구명": "칠곡군",
        "설치시설구분": "관공서",
        "서비스제공사명": "LGU+",
        "와이파이SSID": "PUBLIC WiFi FREE",
        "소재지도로명주소": "경상북도 칠곡군 지천면 신동로 171",
        "소재지지번주소": "경상북도 칠곡군 지천면 신리 357-1",
        "관리기관명": "경상북도 칠곡군청",
        "관리기관전화번호": "054-979-6374",
        "위도": "35.9559550214",
        "경도": "128.490943154",
        "데이터기준일자": "2019-06-14"
      },
      {
        "설치장소명": "지천평생학습복지센터",
        "설치장소상세": "2층 강당 전면 기둥 옆",
        "설치시도명": "경상북도",
        "설치시군구명": "칠곡군",
        "설치시설구분": "서민·복지시설",
        "서비스제공사명": "LGU+",
        "와이파이SSID": "PUBLIC WiFi FREE",
        "소재지도로명주소": "경상북도 칠곡군 지천면 신동로 173",
        "소재지지번주소": "경상북도 칠곡군 지천면 신리 362-1",
        "관리기관명": "경상북도 칠곡군청",
        "관리기관전화번호": "054-979-6374",
        "위도": "35.9561198",
        "경도": "128.491598309",
        "데이터기준일자": "2019-06-14"
      },
      {
        "설치장소명": "지천평생학습복지센터",
        "설치장소상세": "1층 체력단련실앞",
        "설치시도명": "경상북도",
        "설치시군구명": "칠곡군",
        "설치시설구분": "서민·복지시설",
        "서비스제공사명": "LGU+",
        "와이파이SSID": "PUBLIC WiFi FREE",
        "소재지도로명주소": "경상북도 칠곡군 지천면 신동로 173",
        "소재지지번주소": "경상북도 칠곡군 지천면 신리 362-1",
        "관리기관명": "경상북도 칠곡군청",
        "관리기관전화번호": "054-979-6374",
        "위도": "35.9561198",
        "경도": "128.491598309",
        "데이터기준일자": "2019-06-14"
      },
      {
        "설치장소명": "북삼보건지소",
        "설치장소상세": "1층 민원대기실",
        "설치시도명": "경상북도",
        "설치시군구명": "칠곡군",
        "설치시설구분": "관공서",
        "서비스제공사명": "LGU+",
        "와이파이SSID": "PUBLIC WiFi FREE",
        "소재지도로명주소": "경상북도 칠곡군 북삼읍 인평1길 14",
        "소재지지번주소": "경상북도 칠곡군 북삼읍 인평리 366-2",
        "관리기관명": "경상북도 칠곡군청",
        "관리기관전화번호": "054-979-6374",
        "위도": "36.0630503156",
        "경도": "128.34206766",
        "데이터기준일자": "2019-06-14"
      },
      {
        "설치장소명": "왜관남부정류장",
        "설치장소상세": "매표소 안",
        "설치시도명": "경상북도",
        "설치시군구명": "칠곡군",
        "설치시설구분": "교통시설",
        "서비스제공사명": "LGU+",
        "와이파이SSID": "PUBLIC WiFi FREE",
        "소재지도로명주소": "경상북도 칠곡군 왜관읍 중앙로 158",
        "소재지지번주소": "경상북도 칠곡군 왜관읍 왜관리 291-1",
        "관리기관명": "경상북도 칠곡군청",
        "관리기관전화번호": "054-979-6374",
        "위도": "35.9889960431",
        "경도": "128.399571778",
        "데이터기준일자": "2019-06-14"
      },
      {
        "설치장소명": "왜관북부정류장",
        "설치장소상세": "무인발급기 뒤쪽",
        "설치시도명": "경상북도",
        "설치시군구명": "칠곡군",
        "설치시설구분": "교통시설",
        "서비스제공사명": "LGU+",
        "와이파이SSID": "PUBLIC WiFi FREE",
        "소재지도로명주소": "경상북도 칠곡군 왜관읍 중앙로 250",
        "소재지지번주소": "경상북도 칠곡군 왜관읍 왜관리 197-2",
        "관리기관명": "경상북도 칠곡군청",
        "관리기관전화번호": "054-979-6374",
        "위도": "35.9972784756",
        "경도": "128.3990223",
        "데이터기준일자": "2019-06-14"
      },
      {
        "설치장소명": "약목버스정류장",
        "설치장소상세": "SKT 기지국 건물 옥상(제이마트뒤건물)",
        "설치시도명": "경상북도",
        "설치시군구명": "칠곡군",
        "설치시설구분": "교통시설",
        "서비스제공사명": "SKT",
        "와이파이SSID": "PUBLIC WiFi FREE",
        "소재지도로명주소": "경상북도 칠곡군 약목면 약목로1길 5-1",
        "소재지지번주소": "경상북도 칠곡군 약목면 복성리 949-30",
        "관리기관명": "경상북도 칠곡군청",
        "관리기관전화번호": "054-979-6374",
        "위도": "36.0323817",
        "경도": "128.3659074",
        "데이터기준일자": "2019-06-14"
      },
      {
        "설치장소명": "북삼평생학습복지센터",
        "설치장소상세": "2층 소강당 앞",
        "설치시도명": "경상북도",
        "설치시군구명": "칠곡군",
        "설치시설구분": "서민·복지시설",
        "서비스제공사명": "SKT",
        "와이파이SSID": "PUBLIC WiFi FREE",
        "소재지도로명주소": "경상북도 칠곡군 북삼읍 인평1길 6",
        "소재지지번주소": "경상북도 칠곡군 북삼읍 인평리 365-1",
        "관리기관명": "경상북도 칠곡군청",
        "관리기관전화번호": "054-979-6374",
        "위도": "36.0629252",
        "경도": "128.3429453",
        "데이터기준일자": "2019-06-14"
      },
      {
        "설치장소명": "북삼평생학습복지센터",
        "설치장소상세": "1층 체력단련실앞",
        "설치시도명": "경상북도",
        "설치시군구명": "칠곡군",
        "설치시설구분": "서민·복지시설",
        "서비스제공사명": "SKT",
        "와이파이SSID": "PUBLIC WFi FREE",
        "소재지도로명주소": "경상북도 칠곡군 북삼읍 인평1길 6",
        "소재지지번주소": "경상북도 칠곡군 북삼읍 인평리 365-1",
        "관리기관명": "경상북도 칠곡군청",
        "관리기관전화번호": "054-979-6374",
        "위도": "36.0629252",
        "경도": "128.3429453",
        "데이터기준일자": "2019-06-14"
      },{
        "설치장소명": "감문",
        "설치장소상세": "사무실내",
        "설치시도명": "경상북도",
        "설치시군구명": "김천시",
        "설치시설구분": "관공서",
        "서비스제공사명": "Lgu+",
        "와이파이SSID": "Public-wi-fi",
        "설치년월": "2015-01",
        "소재지도로명주소": "경상북도 김천시 감문면 감문로 105",
        "관리기관명": "Lgu+",
        "관리기관전화번호": "054-420-6100",
        "위도": "36.1424460",
        "경도": "128.1481200",
        "데이터기준일자": "2019-09-16"
      },
      {
        "설치장소명": "감문남곡 보건진료소",
        "설치장소상세": "진료천장",
        "설치시도명": "경상북도",
        "설치시군구명": "김천시",
        "설치시설구분": "관공서",
        "서비스제공사명": "SK텔레콤",
        "와이파이SSID": "Public-wi-fi",
        "설치년월": "2013-01",
        "소재지도로명주소": "경상북도 김천시 감문면 남곡리 259",
        "관리기관명": "SK텔레콤",
        "관리기관전화번호": "054-420-6100",
        "위도": "36.2217770",
        "경도": "128.1438780",
        "데이터기준일자": "2019-09-16"
      },
      {
        "설치장소명": "감문보건지소",
        "설치장소상세": "사무실내",
        "설치시도명": "경상북도",
        "설치시군구명": "김천시",
        "설치시설구분": "관공서",
        "서비스제공사명": "KT올레",
        "와이파이SSID": "Public-wi-fi",
        "설치년월": "2013-01",
        "소재지도로명주소": "경상북도 김천시 감문면 감문로 1055",
        "관리기관명": "KT올레",
        "관리기관전화번호": "054-420-6100",
        "위도": "36.2143370",
        "경도": "128.1813430",
        "데이터기준일자": "2019-09-16"
      },
      {
        "설치장소명": "감천면",
        "설치장소상세": "사무실내",
        "설치시도명": "경상북도",
        "설치시군구명": "김천시",
        "설치시설구분": "관공서",
        "서비스제공사명": "Lgu+",
        "와이파이SSID": "Public-wi-fi",
        "설치년월": "2015-01",
        "소재지도로명주소": "경상북도 김천시 감천면 금감로 1555",
        "관리기관명": "Lgu+",
        "관리기관전화번호": "054-420-6100",
        "위도": "36.0662070",
        "경도": "128.1245810",
        "데이터기준일자": "2019-09-16"
      },
      {
        "설치장소명": "감천보건지소",
        "설치장소상세": "사무실내",
        "설치시도명": "경상북도",
        "설치시군구명": "김천시",
        "설치시설구분": "관공서",
        "서비스제공사명": "Lgu+",
        "와이파이SSID": "Public-wi-fi",
        "설치년월": "2013-01",
        "소재지도로명주소": "경상북도 김천시 감천면 금감로 1552",
        "관리기관명": "Lgu+",
        "관리기관전화번호": "054-420-6100",
        "위도": "36.0658000",
        "경도": "128.1257120",
        "데이터기준일자": "2019-09-16"
      },
      {
        "설치장소명": "개령면",
        "설치장소상세": "사무실내",
        "설치시도명": "경상북도",
        "설치시군구명": "김천시",
        "설치시설구분": "관공서",
        "서비스제공사명": "Lgu+",
        "와이파이SSID": "Public-wi-fi",
        "설치년월": "2015-01",
        "소재지도로명주소": "경상북도 김천시 개령면 동부길 59-1",
        "관리기관명": "Lgu+",
        "관리기관전화번호": "054-420-6100",
        "위도": "36.1672750",
        "경도": "128.1876070",
        "데이터기준일자": "2019-09-16"
      },
      {
        "설치장소명": "개령보건지소",
        "설치장소상세": "사무실내",
        "설치시도명": "경상북도",
        "설치시군구명": "김천시",
        "설치시설구분": "관공서",
        "서비스제공사명": "Lgu+",
        "와이파이SSID": "Public-wi-fi",
        "설치년월": "2013-01",
        "소재지도로명주소": "경상북도 김천시 개령면 서부3길 107",
        "관리기관명": "Lgu+",
        "관리기관전화번호": "054-420-6100",
        "위도": "36.1671840",
        "경도": "128.1866190",
        "데이터기준일자": "2019-09-16"
      },
      {
        "설치장소명": "구성면",
        "설치장소상세": "사무실내",
        "설치시도명": "경상북도",
        "설치시군구명": "김천시",
        "설치시설구분": "관공서",
        "서비스제공사명": "Lgu+",
        "와이파이SSID": "Public-wi-fi",
        "설치년월": "2014-01",
        "소재지도로명주소": "경상북도 김천시 구성면 상좌원1길 10",
        "관리기관명": "Lgu+",
        "관리기관전화번호": "054-420-6100",
        "위도": "36.0325580",
        "경도": "128.0477300",
        "데이터기준일자": "2019-09-16"
      },
      {
        "설치장소명": "김천노인복지회관",
        "설치장소상세": "1층2층3층",
        "설치시도명": "경상북도",
        "설치시군구명": "김천시",
        "설치시설구분": "서민·복지시설",
        "서비스제공사명": "KT올레",
        "와이파이SSID": "Public-wi-fi",
        "설치년월": "2013-01",
        "소재지도로명주소": "경상북도 김천시 중앙공원1길 16",
        "관리기관명": "KT올레",
        "관리기관전화번호": "054-420-6100",
        "위도": "36.1192940",
        "경도": "128.1194960",
        "데이터기준일자": "2019-09-16"
      },
      {
        "설치장소명": "김천시보건소",
        "설치장소상세": "사무실내",
        "설치시도명": "경상북도",
        "설치시군구명": "김천시",
        "설치시설구분": "관공서",
        "서비스제공사명": "Lgu+",
        "와이파이SSID": "Public-wi-fi",
        "설치년월": "2013-01",
        "소재지도로명주소": "경상북도 김천시 시청1길 1 민원실",
        "관리기관명": "Lgu+",
        "관리기관전화번호": "054-420-6100",
        "위도": "36.1397140",
        "경도": "128.1133060",
        "데이터기준일자": "2019-09-16"
      },
      {
        "설치장소명": "김천시청 민원실",
        "설치장소상세": "사무실내",
        "설치시도명": "경상북도",
        "설치시군구명": "김천시",
        "설치시설구분": "관공서",
        "서비스제공사명": "Lgu+",
        "와이파이SSID": "Public-wi-fi",
        "설치년월": "2014-01",
        "소재지도로명주소": "경상북도 김천시 시청1길 1 민원실",
        "관리기관명": "Lgu+",
        "관리기관전화번호": "054-420-6100",
        "위도": "36.1397140",
        "경도": "128.1133060",
        "데이터기준일자": "2019-09-16"
      },
      {
        "설치장소명": "김천평화시장",
        "설치장소상세": "시장입구 기둥",
        "설치시도명": "경상북도",
        "설치시군구명": "김천시",
        "설치시설구분": "서민·복지시설",
        "서비스제공사명": "SK텔레콤",
        "와이파이SSID": "Public-wi-fi",
        "설치년월": "2013-01",
        "소재지도로명주소": "경상북도 김천시 평화동 259-1",
        "관리기관명": "SK텔레콤",
        "관리기관전화번호": "054-420-6100",
        "위도": "36.1236950",
        "경도": "128.1129200",
        "데이터기준일자": "2019-09-16"
      },
      {
        "설치장소명": "김천황금시장",
        "설치장소상세": "시장입구 기둥",
        "설치시도명": "경상북도",
        "설치시군구명": "김천시",
        "설치시설구분": "서민·복지시설",
        "서비스제공사명": "SK텔레콤",
        "와이파이SSID": "Public-wi-fi",
        "설치년월": "2013-01",
        "소재지도로명주소": "경상북도 김천시 양금동 18-2",
        "관리기관명": "SK텔레콤",
        "관리기관전화번호": "054-420-6100",
        "위도": "36.0938030",
        "경도": "128.1217280",
        "데이터기준일자": "2019-09-16"
      },
      {
        "설치장소명": "남면",
        "설치장소상세": "사무실내",
        "설치시도명": "경상북도",
        "설치시군구명": "김천시",
        "설치시설구분": "관공서",
        "서비스제공사명": "Lgu+",
        "와이파이SSID": "Public-wi-fi",
        "설치년월": "2015-01",
        "소재지도로명주소": "경상북도 김천시 남면 옥산길44",
        "관리기관명": "Lgu+",
        "관리기관전화번호": "054-420-6100",
        "위도": "36.1079240",
        "경도": "128.1895290",
        "데이터기준일자": "2019-09-16"
      },
      {
        "설치장소명": "남면보건지소",
        "설치장소상세": "사무실내",
        "설치시도명": "경상북도",
        "설치시군구명": "김천시",
        "설치시설구분": "관공서",
        "서비스제공사명": "Lgu+",
        "와이파이SSID": "Public-wi-fi",
        "설치년월": "2013-01",
        "소재지도로명주소": "경상북도 김천시 남면 옥산길 9",
        "관리기관명": "Lgu+",
        "관리기관전화번호": "054-420-6100",
        "위도": "36.1070920",
        "경도": "128.1877130",
        "데이터기준일자": "2019-09-16"
      },
      {
        "설치장소명": "녹색미래과학관",
        "설치장소상세": "로비",
        "설치시도명": "경상북도",
        "설치시군구명": "김천시",
        "설치시설구분": "관공서",
        "서비스제공사명": "Lgu+",
        "와이파이SSID": "Public-wi-fi",
        "설치년월": "2015-01",
        "소재지도로명주소": "경상북도 김천시 혁신로31(율곡동)",
        "관리기관명": "Lgu+",
        "관리기관전화번호": "054-420-6100",
        "위도": "36.7282200",
        "경도": "128.1151000",
        "데이터기준일자": "2019-09-16"
      },
      {
        "설치장소명": "농소면",
        "설치장소상세": "사무실내",
        "설치시도명": "경상북도",
        "설치시군구명": "김천시",
        "설치시설구분": "관공서",
        "서비스제공사명": "Lgu+",
        "와이파이SSID": "Public-wi-fi",
        "설치년월": "2014-01",
        "소재지도로명주소": "경상북도 김천시 농소면 농남로 42",
        "관리기관명": "Lgu+",
        "관리기관전화번호": "054-420-6100",
        "위도": "36.1057970",
        "경도": "128.1727460",
        "데이터기준일자": "2019-09-16"
      },
      {
        "설치장소명": "농소보건지소",
        "설치장소상세": "사무실내",
        "설치시도명": "경상북도",
        "설치시군구명": "김천시",
        "설치시설구분": "관공서",
        "서비스제공사명": "Lgu+",
        "와이파이SSID": "Public-wi-fi",
        "설치년월": "2013-01",
        "소재지도로명주소": "경상북도 김천시 농소면 농남로 42",
        "관리기관명": "Lgu+",
        "관리기관전화번호": "054-420-6100",
        "위도": "36.1057970",
        "경도": "128.1727460",
        "데이터기준일자": "2019-09-16"
      },
      {
        "설치장소명": "대덕면",
        "설치장소상세": "사무실내",
        "설치시도명": "경상북도",
        "설치시군구명": "김천시",
        "설치시설구분": "관공서",
        "서비스제공사명": "Lgu+",
        "와이파이SSID": "Public-wi-fi",
        "설치년월": "2015-01",
        "소재지도로명주소": "경상북도 김천시 대덕면 남김천대로",
        "관리기관명": "Lgu+",
        "관리기관전화번호": "054-420-6100",
        "위도": "35.9813510",
        "경도": "128.0291930",
        "데이터기준일자": "2019-09-16"
      },
      {
        "설치장소명": "대덕보건지소",
        "설치장소상세": "사무실내",
        "설치시도명": "경상북도",
        "설치시군구명": "김천시",
        "설치시설구분": "관공서",
        "서비스제공사명": "Lgu+",
        "와이파이SSID": "Public-wi-fi",
        "설치년월": "2013-01",
        "소재지도로명주소": "경상북도 김천시 대덕면 남김천대로 723",
        "관리기관명": "Lgu+",
        "관리기관전화번호": "054-420-6100",
        "위도": "35.9179130",
        "경도": "127.9691730",
        "데이터기준일자": "2019-09-16"
      },
      {
        "설치장소명": "대신동",
        "설치장소상세": "사무실내",
        "설치시도명": "경상북도",
        "설치시군구명": "김천시",
        "설치시설구분": "관공서",
        "서비스제공사명": "Lgu+",
        "와이파이SSID": "Public-wi-fi",
        "설치년월": "2014-01",
        "소재지도로명주소": "경상북도 김천시 신양1길 22",
        "관리기관명": "Lgu+",
        "관리기관전화번호": "054-420-6100",
        "위도": "36.1353000",
        "경도": "128.1158570",
        "데이터기준일자": "2019-09-16"
      },
      {
        "설치장소명": "대한교통",
        "설치장소상세": "건물대기실",
        "설치시도명": "경상북도",
        "설치시군구명": "김천시",
        "설치시설구분": "서민·복지시설",
        "서비스제공사명": "Lgu+",
        "와이파이SSID": "Public-wi-fi",
        "설치년월": "2015-01",
        "소재지도로명주소": "경상북도 김천시 자산로 148",
        "관리기관명": "Lgu+",
        "관리기관전화번호": "054-420-6100",
        "위도": "36.1233260",
        "경도": "128.1181310",
        "데이터기준일자": "2019-09-16"
      },
      {
        "설치장소명": "대항면",
        "설치장소상세": "사무실내",
        "설치시도명": "경상북도",
        "설치시군구명": "김천시",
        "설치시설구분": "관공서",
        "서비스제공사명": "Lgu+",
        "와이파이SSID": "Public-wi-fi",
        "설치년월": "2014-01",
        "소재지도로명주소": "경상북도 김천시 대항면 황악로 1563",
        "관리기관명": "Lgu+",
        "관리기관전화번호": "054-420-6100",
        "위도": "36.1244970",
        "경도": "128.0221540",
        "데이터기준일자": "2019-09-16"
      },
      {
        "설치장소명": "봉산면",
        "설치장소상세": "사무실내",
        "설치시도명": "경상북도",
        "설치시군구명": "김천시",
        "설치시설구분": "관공서",
        "서비스제공사명": "Lgu+",
        "와이파이SSID": "Public-wi-fi",
        "설치년월": "2015-01",
        "소재지도로명주소": "경상북도 김천시 봉산면 예지 송정길",
        "관리기관명": "Lgu+",
        "관리기관전화번호": "054-420-6100",
        "위도": "36.1423070",
        "경도": "128.0612360",
        "데이터기준일자": "2019-09-16"
      },
      {
        "설치장소명": "부곡동",
        "설치장소상세": "사무실내",
        "설치시도명": "경상북도",
        "설치시군구명": "김천시",
        "설치시설구분": "관공서",
        "서비스제공사명": "Lgu+",
        "와이파이SSID": "Public-wi-fi",
        "설치년월": "2014-01",
        "소재지도로명주소": "경상북도 김천시 부곡길 2",
        "관리기관명": "Lgu+",
        "관리기관전화번호": "054-420-6100",
        "위도": "36.1243990",
        "경도": "128.0893200",
        "데이터기준일자": "2019-09-16"
      },
      {
        "설치장소명": "부항면",
        "설치장소상세": "사무실내",
        "설치시도명": "경상북도",
        "설치시군구명": "김천시",
        "설치시설구분": "관공서",
        "서비스제공사명": "Lgu+",
        "와이파이SSID": "Public-wi-fi",
        "설치년월": "2015-01",
        "소재지도로명주소": "경상북도 김천시 부항면 부항로 834",
        "관리기관명": "Lgu+",
        "관리기관전화번호": "054-420-6100",
        "위도": "35.9900950",
        "경도": "127.9552980",
        "데이터기준일자": "2019-09-16"
      },
      {
        "설치장소명": "부항보건지소",
        "설치장소상세": "사무실내",
        "설치시도명": "경상북도",
        "설치시군구명": "김천시",
        "설치시설구분": "관공서",
        "서비스제공사명": "Lgu+",
        "와이파이SSID": "Public-wi-fi",
        "설치년월": "2013-01",
        "소재지도로명주소": "경상북도 김천시 부항면 부항로 798",
        "관리기관명": "Lgu+",
        "관리기관전화번호": "054-420-6100",
        "위도": "35.9893850",
        "경도": "127.9588730",
        "데이터기준일자": "2019-09-16"
      },
      {
        "설치장소명": "아포보건진료소",
        "설치장소상세": "진료천장",
        "설치시도명": "경상북도",
        "설치시군구명": "김천시",
        "설치시설구분": "관공서",
        "서비스제공사명": "SK텔레콤",
        "와이파이SSID": "Public-wi-fi",
        "설치년월": "2013-01",
        "소재지도로명주소": "경상북도 김천시 아포읍 한지2길 24",
        "관리기관명": "SK텔레콤",
        "관리기관전화번호": "054-420-6100",
        "위도": "36.1588030",
        "경도": "128.2604260",
        "데이터기준일자": "2019-09-16"
      },
      {
        "설치장소명": "아포읍보건지소",
        "설치장소상세": "사무실내",
        "설치시도명": "경상북도",
        "설치시군구명": "김천시",
        "설치시설구분": "관공서",
        "서비스제공사명": "Lgu+",
        "와이파이SSID": "Public-wi-fi",
        "설치년월": "2013-01",
        "소재지도로명주소": "경상북도 김천시 아포읍 국사길 57",
        "관리기관명": "Lgu+",
        "관리기관전화번호": "054-420-6100",
        "위도": "36.1598280",
        "경도": "128.2530820",
        "데이터기준일자": "2019-09-16"
      },
      {
        "설치장소명": "어모면보건지소",
        "설치장소상세": "사무실내",
        "설치시도명": "경상북도",
        "설치시군구명": "김천시",
        "설치시설구분": "관공서",
        "서비스제공사명": "Lgu+",
        "와이파이SSID": "Public-wi-fi",
        "설치년월": "2013-01",
        "소재지도로명주소": "경상북도 김천시 어모면 어모문화3길 9-33",
        "관리기관명": "Lgu+",
        "관리기관전화번호": "054-420-6100",
        "위도": "36.1800090",
        "경도": "128.1173000",
        "데이터기준일자": "2019-09-16"
      },
      {
        "설치장소명": "율곡동 주민센터",
        "설치장소상세": "민원대",
        "설치시도명": "경상북도",
        "설치시군구명": "김천시",
        "설치시설구분": "관공서",
        "서비스제공사명": "Lgu+",
        "와이파이SSID": "Public-wi-fi",
        "설치년월": "2015-01",
        "소재지도로명주소": "경상북도 김천시 혁신사로21",
        "관리기관명": "Lgu+",
        "관리기관전화번호": "054-420-6100",
        "위도": "36.1163490",
        "경도": "128.1851290",
        "데이터기준일자": "2019-09-16"
      },
      {
        "설치장소명": "자산동주민센터",
        "설치장소상세": "민원대",
        "설치시도명": "경상북도",
        "설치시군구명": "김천시",
        "설치시설구분": "관공서",
        "서비스제공사명": "Lgu+",
        "와이파이SSID": "Public-wi-fi",
        "설치년월": "2015-01",
        "소재지도로명주소": "경상북도 김천시 용암로 27",
        "관리기관명": "Lgu+",
        "관리기관전화번호": "054-420-6100",
        "위도": "36.1222870",
        "경도": "128.1278020",
        "데이터기준일자": "2019-09-16"
      },
      {
        "설치장소명": "장애복지관",
        "설치장소상세": "1층 2층",
        "설치시도명": "경상북도",
        "설치시군구명": "김천시",
        "설치시설구분": "관공서",
        "서비스제공사명": "Lgu+",
        "와이파이SSID": "Public-wi-fi",
        "설치년월": "2015-01",
        "소재지도로명주소": "경상북도 김천시 환경로 136-6",
        "관리기관명": "Lgu+",
        "관리기관전화번호": "054-420-6100",
        "위도": "36.1327340",
        "경도": "128.1414330",
        "데이터기준일자": "2019-09-16"
      },
      {
        "설치장소명": "조마면",
        "설치장소상세": "사무실내",
        "설치시도명": "경상북도",
        "설치시군구명": "김천시",
        "설치시설구분": "관공서",
        "서비스제공사명": "Lgu+",
        "와이파이SSID": "Public-wi-fi",
        "설치년월": "2015-01",
        "소재지도로명주소": "경상북도 김천시 조마면 강곡1길 32",
        "관리기관명": "Lgu+",
        "관리기관전화번호": "054-420-6100",
        "위도": "36.0349290",
        "경도": "128.0990300",
        "데이터기준일자": "2019-09-16"
      },
      {
        "설치장소명": "조마보건지소",
        "설치장소상세": "사무실내",
        "설치시도명": "경상북도",
        "설치시군구명": "김천시",
        "설치시설구분": "관공서",
        "서비스제공사명": "Lgu+",
        "와이파이SSID": "Public-wi-fi",
        "설치년월": "2013-01",
        "소재지도로명주소": "경상북도 김천시 조마면 강곡1길 43-13",
        "관리기관명": "Lgu+",
        "관리기관전화번호": "054-420-6100",
        "위도": "36.0359280",
        "경도": "128.0993330",
        "데이터기준일자": "2019-09-16"
      },
      {
        "설치장소명": "중앙보건지소",
        "설치장소상세": "1층 2층사무실",
        "설치시도명": "경상북도",
        "설치시군구명": "김천시",
        "설치시설구분": "관공서",
        "서비스제공사명": "KT올레",
        "와이파이SSID": "Public-wi-fi",
        "설치년월": "2013-01",
        "소재지도로명주소": "경상북도 김천시 중앙공원1길 16",
        "관리기관명": "KT올레",
        "관리기관전화번호": "054-420-6100",
        "위도": "36.1192940",
        "경도": "128.1194960",
        "데이터기준일자": "2019-09-16"
      },
      {
        "설치장소명": "중앙시장",
        "설치장소상세": "시장내",
        "설치시도명": "경상북도",
        "설치시군구명": "김천시",
        "설치시설구분": "관공서",
        "서비스제공사명": "Lgu+",
        "와이파이SSID": "Public-wi-fi",
        "설치년월": "2015-01",
        "소재지도로명주소": "경상북도 김천시 중앙시장3길3",
        "관리기관명": "Lgu+",
        "관리기관전화번호": "054-420-6100",
        "위도": "36.1190520",
        "경도": "128.1249480",
        "데이터기준일자": "2019-09-16"
      },
      {
        "설치장소명": "증산면",
        "설치장소상세": "사무실내",
        "설치시도명": "경상북도",
        "설치시군구명": "김천시",
        "설치시설구분": "관공서",
        "서비스제공사명": "Lgu+",
        "와이파이SSID": "Public-wi-fi",
        "설치년월": "2015-01",
        "소재지도로명주소": "경상북도 김천시 증산면 증산로 945-7",
        "관리기관명": "Lgu+",
        "관리기관전화번호": "054-420-6100",
        "위도": "35.9017770",
        "경도": "128.0352370",
        "데이터기준일자": "2019-09-16"
      },
      {
        "설치장소명": "지례면",
        "설치장소상세": "사무실내",
        "설치시도명": "경상북도",
        "설치시군구명": "김천시",
        "설치시설구분": "관공서",
        "서비스제공사명": "Lgu+",
        "와이파이SSID": "Public-wi-fi",
        "설치년월": "2015-01",
        "소재지도로명주소": "경상북도 김천시 지례면 상부길 101",
        "관리기관명": "Lgu+",
        "관리기관전화번호": "054-420-6100",
        "위도": "35.9848080",
        "경도": "128.0266610",
        "데이터기준일자": "2019-09-16"
      },
      {
        "설치장소명": "지례보건지소",
        "설치장소상세": "사무실내",
        "설치시도명": "경상북도",
        "설치시군구명": "김천시",
        "설치시설구분": "관공서",
        "서비스제공사명": "Lgu+",
        "와이파이SSID": "Public-wi-fi",
        "설치년월": "2013-01",
        "소재지도로명주소": "경상북도 김천시 지례면 상부길 101",
        "관리기관명": "Lgu+",
        "관리기관전화번호": "054-420-6100",
        "위도": "35.9848080",
        "경도": "128.0266610",
        "데이터기준일자": "2019-09-16"
      },
      {
        "설치장소명": "지좌동주민센터",
        "설치장소상세": "민원대",
        "설치시도명": "경상북도",
        "설치시군구명": "김천시",
        "설치시설구분": "관공서",
        "서비스제공사명": "Lgu+",
        "와이파이SSID": "Public-wi-fi",
        "설치년월": "2015-01",
        "소재지도로명주소": "경상북도 김천시 체육공원길21",
        "관리기관명": "Lgu+",
        "관리기관전화번호": "054-420-6100",
        "위도": "36.1197320",
        "경도": "128.1445280",
        "데이터기준일자": "2019-09-16"
      },
      {
        "설치장소명": "평화남산",
        "설치장소상세": "사무실내",
        "설치시도명": "경상북도",
        "설치시군구명": "김천시",
        "설치시설구분": "관공서",
        "서비스제공사명": "Lgu+",
        "와이파이SSID": "Public-wi-fi",
        "설치년월": "2014-01",
        "소재지도로명주소": "경상북도 김천시 평화7길 12-7",
        "관리기관명": "Lgu+",
        "관리기관전화번호": "054-420-6100",
        "위도": "36.1252880",
        "경도": "128.1095040",
        "데이터기준일자": "2019-09-16"
      },
      {
        "설치장소명": "황금동주민센터",
        "설치장소상세": "사무실내",
        "설치시도명": "경상북도",
        "설치시군구명": "김천시",
        "설치시설구분": "관공서",
        "서비스제공사명": "Lgu+",
        "와이파이SSID": "Public-wi-fi",
        "설치년월": "2014-01",
        "소재지도로명주소": "경상북도 김천시 강변로 178",
        "관리기관명": "Lgu+",
        "관리기관전화번호": "054-420-6100",
        "위도": "36.1104660",
        "경도": "128.1233950",
        "데이터기준일자": "2019-09-16"
      },
      {
        "설치장소명": "산내들오토캠핑장",
        "설치장소상세": "외부",
        "설치시도명": "경상북도",
        "설치시군구명": "김천시",
        "설치시설구분": "관공서",
        "서비스제공사명": "KT올레",
        "와이파이SSID": "Public-wi-fi",
        "설치년월": "2018-11",
        "소재지도로명주소": "경상북도 김천시 강변로 179",
        "소재지지번주소": "경상북도 김천시 지례면 도곡리719-1",
        "관리기관명": "KT올레",
        "관리기관전화번호": "054-420-6100",
        "위도": "35.9779660",
        "경도": "128.0118660",
        "데이터기준일자": "2019-09-16"
      },
      {
        "설치장소명": "증산수도계곡 캠핑장",
        "설치장소상세": "외부",
        "설치시도명": "경상북도",
        "설치시군구명": "김천시",
        "설치시설구분": "관공서",
        "서비스제공사명": "KT올레",
        "와이파이SSID": "Public-wi-fi",
        "설치년월": "2018-11",
        "소재지도로명주소": "경상북도 김천시 강변로 180",
        "소재지지번주소": "경상북도 김천시 증산면 평촌리 188-2",
        "관리기관명": "KT올레",
        "관리기관전화번호": "054-420-6100",
        "위도": "35.8988740",
        "경도": "128.0207200",
        "데이터기준일자": "2019-09-16"
      },
      {
        "설치장소명": "강변공원",
        "설치장소상세": "외부",
        "설치시도명": "경상북도",
        "설치시군구명": "김천시",
        "설치시설구분": "관공서",
        "서비스제공사명": "KT올레",
        "와이파이SSID": "Public-wi-fi",
        "설치년월": "2018-11",
        "소재지도로명주소": "경상북도 김천시 강변로 181",
        "소재지지번주소": "경상북도 김천시 교동 682-1",
        "관리기관명": "KT올레",
        "관리기관전화번호": "054-420-6100",
        "위도": "36.1288660",
        "경도": "128.0905220",
        "데이터기준일자": "2019-09-16"
      },
      {
        "설치장소명": "조각공원",
        "설치장소상세": "외부",
        "설치시도명": "경상북도",
        "설치시군구명": "김천시",
        "설치시설구분": "관공서",
        "서비스제공사명": "KT올레",
        "와이파이SSID": "Public-wi-fi",
        "설치년월": "2018-11",
        "소재지도로명주소": "경상북도 김천시 강변로 182",
        "소재지지번주소": "경상북도 김천시 신음동 1058-2",
        "관리기관명": "KT올레",
        "관리기관전화번호": "054-420-6100",
        "위도": "36.1299330",
        "경도": "128.1158030",
        "데이터기준일자": "2019-09-16"
      },
      {
        "설치장소명": "덕곡체육공원",
        "설치장소상세": "외부",
        "설치시도명": "경상북도",
        "설치시군구명": "김천시",
        "설치시설구분": "관공서",
        "서비스제공사명": "KT올레",
        "와이파이SSID": "Public-wi-fi",
        "설치년월": "2018-11",
        "소재지도로명주소": "경상북도 김천시 강변로 183",
        "소재지지번주소": "경상북도 김천시 덕곡동 1078",
        "관리기관명": "KT올레",
        "관리기관전화번호": "054-420-6100",
        "위도": "36.1205040",
        "경도": "128.1535020",
        "데이터기준일자": "2019-09-16"
      },
      {
        "설치장소명": "안산공원1",
        "설치장소상세": "외부",
        "설치시도명": "경상북도",
        "설치시군구명": "김천시",
        "설치시설구분": "관공서",
        "서비스제공사명": "KT올레",
        "와이파이SSID": "Public-wi-fi",
        "설치년월": "2018-11",
        "소재지도로명주소": "경상북도 김천시 강변로 184",
        "소재지지번주소": "경상북도 김천시 율곡동 647",
        "관리기관명": "KT올레",
        "관리기관전화번호": "054-420-6100",
        "위도": "36.1219130",
        "경도": "128.1859370",
        "데이터기준일자": "2019-09-16"
      },
      {
        "설치장소명": "교동연화지공원",
        "설치장소상세": "외부",
        "설치시도명": "경상북도",
        "설치시군구명": "김천시",
        "설치시설구분": "관공서",
        "서비스제공사명": "KT올레",
        "와이파이SSID": "Public-wi-fi",
        "설치년월": "2018-11",
        "소재지도로명주소": "경상북도 김천시 강변로 184",
        "소재지지번주소": "경상북도 김천시 교동820-2",
        "관리기관명": "KT올레",
        "관리기관전화번호": "054-420-6100",
        "위도": "36.1372110",
        "경도": "128.0931670",
        "데이터기준일자": "2019-09-16"
      },
      {
        "설치장소명": "직지문화공원",
        "설치장소상세": "외부",
        "설치시도명": "경상북도",
        "설치시군구명": "김천시",
        "설치시설구분": "관공서",
        "서비스제공사명": "KT올레",
        "와이파이SSID": "Public-wi-fi",
        "설치년월": "2018-11",
        "소재지도로명주소": "경상북도 김천시 강변로 185",
        "소재지지번주소": "경상북도 김천시 운수리63-5",
        "관리기관명": "KT올레",
        "관리기관전화번호": "054-420-6100",
        "위도": "36.1196680",
        "경도": "128.0120390",
        "데이터기준일자": "2019-09-16"
      },
      {
        "설치장소명": "부항정 짚라인광장",
        "설치장소상세": "외부",
        "설치시도명": "경상북도",
        "설치시군구명": "김천시",
        "설치시설구분": "관공서",
        "서비스제공사명": "KT올레",
        "와이파이SSID": "Public-wi-fi",
        "설치년월": "2018-11",
        "소재지도로명주소": "경상북도 김천시 강변로 186",
        "소재지지번주소": "경상북도 김천시 부항댐길 352",
        "관리기관명": "KT올레",
        "관리기관전화번호": "054-420-6100",
        "위도": "36.1398390",
        "경도": "128.1135950",
        "데이터기준일자": "2019-09-16"
      }
    ]
      var container = document.getElementById('map'); //지도를 담을 영역의 DOM 레퍼런스

      var options = { //지도를 생성할 때 필요한 기본 옵션
        center: new kakao.maps.LatLng(36.0763671, 128.4116386), //지도의 중심좌표.
        level: 10 //지도의 레벨(확대, 축소 정도)
      };


      if (navigator.geolocation) navigator.geolocation.getCurrentPosition((potition) => {
          options.center = new kakao.maps.LatLng(potition.coords.latitude, potition.coords.longitude)
        })

      var imageSrc = 'http://purepng.com/public/uploads/large/purepng.com-wifi-icon-yellowwifi-iconwifiiconwireless-connection-1701528436332acquz.png', // 마커이미지의 주소입니다    
          imageSize = new kakao.maps.Size(30, 30), // 마커이미지의 크기입니다
          imageOption = {offset: new kakao.maps.Point(27, 69)}; // 마커이미지의 옵션입니다. 마커의 좌표와 일치시킬 이미지 안에서의 좌표를 설정합니다.
            
      // 마커의 이미지정보를 가지고 있는 마커이미지를 생성합니다
      var markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize, imageOption)

      var map = new kakao.maps.Map(container, options); //지도 생성 및 객체 리턴
      data.forEach((d) => {
        const mark = new kakao.maps.Marker({ position: new kakao.maps.LatLng(d.위도, d.경도), image: markerImage })
        mark.setMap(map)

        kakao.maps.event.addListener(mark, 'click', function() {
          const infowindow = new kakao.maps.InfoWindow({ position: new kakao.maps.LatLng(d.위도, d.경도), content: `<div style="height: 100px; width: 300px; padding: 20px; word-break: break-all: word-wrap: break-word;"와이파이 이름: ${d.와이파이SSID|| '정보 없음'}<br />주소: ${d.소재지도로명주소|| '정보 없음'}<br />제공 업체: ${d.서비스제공사명|| '정보 없음'}<br />관리자 전화번호${d.관리기관전화번호|| '정보 없음'}</div>` })
          infowindow.open(map, mark)
          setTimeout(() => {
            infowindow.close()
          }, 5000)
        })
      })
  </script>

</body>
</html>